html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body{
  background-color: #023047;
  color: #ffb703;
  min-width: 360px;
}

div#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blingContainer{
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 30px 0 20px;
}

/* mobile oriented wrapper */
.wrapper {
  max-width: 600px;
  min-height: 270px;
  width: 95%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0 10px;
  padding: 0;
  margin-bottom: 20px;
  color: #fb8500;
  font-size: 1.5rem;
}

h2{
  margin-top: 35px;
  margin-bottom: 10px;
}


/* p{
  margin-top: -10px;
  width: 280px;
  text-align: center;
  text-decoration: underline;
} */

p:nth-child(3){
  text-decoration: none;
}

ol{
  margin: 20px 0;
  margin-top: 0;
  padding: 0;
  padding-right: 10px;
}

li{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  color: #ffb703;
}

.userEntry,
.note{
  border: #219ebc solid 4px;
  border-radius: 10px 10px 45px 10px;
  padding: 25px 5px;
  width: 100%;
  text-align: center; 
}

.alert{
  width: 320px;
  height: 150px;
  text-align: center;
  border-radius: 8px;
  border: 4px solid #219ebc;
  position: fixed;
  top: 35%;
  color: #023047;
  background-color: #ffb703;
  z-index: 100;
}

.save{

}

.delete{
  border-color: red;
  color: red;
  background-color: #023047;
}

.alert h2{
  margin-top: 55px;
}

.note{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: 2px solid #219ebc;
    color: #ffb703;
    width: 80%;
    margin-right: 20px;
}


.done input,
li.done{
  color: grey;
  text-decoration: line-through;
}

.done i{
  color: #ffb703;
}

.note button{
  align-self: flex-end;
  margin: -20px 0px 20px 0 ;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  color: rgba(255, 0, 0, 0.609);
}

.note .header{
  display: flex;
  justify-content: space-between;
  
}

.note i{
    cursor: pointer;
}

.note button:hover,
.note button:focus{
  color: red;
  border: 2px solid red;
}

.note hr{
  width: 90%;
  border: 4px solid #219ebc;
  border-radius: 25px;
}


.userEntry button{
  padding: 10px;
  margin: 10px 17px;
  border: #219ebc solid 3px;
  border-radius: 8px;
  background-color: #ffb703;
  color: #023047;
  font-weight: bold;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

.userEntry button:hover,
.userEntry button:focus{
  background-color: #fb8500;
}



/* 
@media(min-width: 478px){
  .note{
    padding: 5px 75px 20px 75px;
  }

  hr{
    width: 100%;
  }

  .note button{
    margin-right: -70px;
  }
} */

footer{
  background-color: #8ecae6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h3{
  color:#023047 ;
}


footer a:visited{
  color: #023047;
  text-decoration: none;
}